/* import m6x11plus.ttf */

@font-face {
  font-family: 'm6x11plus';
  src: url('m6x11plus.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'm6x11plus';
  text-shadow: #000 2px 2px 2px;
  text-decoration: none;
}

.logostuff {
  position:relative;
  width: 100vw;
  height: calc(483px + 4rem);
}

.logo, .logobg {
  height: 483px;
  image-rendering: pixelated;
  margin: 0 auto;
  position: absolute;
}
.logobg {
  top: 2rem;
  width: 100vw;
  object-fit: cover;
  object-position: center;
}
.logo {
  left: calc(-393px + 50vw);
  top: 2rem;
  filter: drop-shadow(0px 0px 8px black);
}
@media screen and (max-width: 786px) {
  .logo, .logobg {
    height: 322px;
  }
  .logo {
    left: calc(-262px + 50vw);
  }

  .logostuff {
    position:relative;
    width: 100vw;
    height: calc(322px + 2rem);
  }
}
@media screen and (max-width: 524px) {
  .logo, .logobg {
    height: 161px;
  }
  .logo {
    left: calc(-131px + 50vw);
  }

  .logostuff {
    position:relative;
    width: 100vw;
    height: calc(161px + 1rem);
  }
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  z-index: -1;
  pointer-events: none;
}

main {
  text-align: center;
  color: white;
  padding: 1rem;
  width: min(90rem, 100%);
  margin: 1rem auto;
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
}
.cards.consumables, .cards.packs, .cards.decks, .cards.blinds, .cards.extras {
  width: calc( (100% - 4rem) * 0.8 + 3rem);
  margin: 0 auto;
}
.cards.extras {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.joker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 1rem;

  background-color: #374244;
}
.joker .text {
  font-size: 1.25rem;
}
.joker a, .joker a:visited {
  color: #ff9a00;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.joker a:hover:not(:active) {
  color: white !important;
}
.joker img {
  height: 190px;
  image-rendering: pixelated;
}
.joker.hugejoker img {
  height: 285px;
}
.joker.pixeljoker img {
  height: 32px;
  margin: 79px 55px;
}
.joker.mouthmoods img {
  height: 142px;
  margin: 24px 0px;
}
.consumables .joker img {
  height: 174px;
  width: 142px;
  object-fit: cover;
  object-position: top;
}
img.hasback {
  background-image: url("img/sticker_bg.png");

  background-size: 142px 190px;
}
@keyframes blind-animate {
  from {object-position: 0px 0px}
  to {object-position: -2720px 0px}
}
.blinds .joker img {
  width: 136px;
  height: 136px;
  object-fit: cover;
  animation: blind-animate 2.1s linear infinite;
  animation-timing-function: steps(20, start);
}

#download {
  background-color: #374244;
  color: white;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.rarity {
  width: 142px;
  border-radius: 8px;
  padding: 8px;
}
.soulholder {
  width: 142px;
  height: 190px;
  position: relative;
}
.soulholder img {
  position: absolute;
}
@keyframes soul-rotate {
  from {transform: rotateZ(-3deg)}
  to {transform: rotateZ(3deg)}
}
.soul-top {
  width: 142px;
  object-fit: cover;
  object-position: bottom;
  top: 0;
  left: 0;
  filter: drop-shadow(0px 0px 8px #4f6367);
  animation: soul-rotate 8s ease-in-out infinite alternate;
  animation-delay: -7.5s
}
.soul-bg {
  width: 142px;
  object-fit: cover;
  object-position: top;
  top: 0;
  left: 0;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #374244;
  color: white;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 1rem;
  cursor: pointer;
  text-decoration: none;
  font-size: larger;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}